# ===============================
# SERVER CONFIG
# ===============================
PORT=3000

# ===============================
# DATABASE CONFIG
# ===============================
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=payment_manager

# ===============================
# AUTH CONFIG
# ===============================
JWT_SECRET=your_jwt_secret

# ===============================
# PAYMENT GATEWAY 1
# ===============================
GATEWAY1_URL=http://localhost:3001
GATEWAY1_EMAIL=dev@betalent.tech
GATEWAY1_TOKEN=your_gateway1_token

# ===============================
# PAYMENT GATEWAY 2
# ===============================
GATEWAY2_URL=http://localhost:3002
GATEWAY2_TOKEN=your_gateway2_token
GATEWAY2_SECRET=your_gateway2_secret